In [1]:
import pandas as pd
import numpy as np

In [2]:
codes=pd.read_csv('/Users/blakemyers/Desktop/data/LightEOU_All.csv', sep=',', error_bad_lines=False, encoding='UTF8')

In [3]:
codes.head(5)

,TotalScore,S02,S03,S05,S06,S08,S10,S02_BottomLoudAmp,S02_incHigh,S02_incLoud,...,S10_RCarrow,S10_RCsome,S10_REarrow,S10_RefChair,S10_Remits,S10_REsome,S10_RLarrow,S10_RLsome,S10_yellow,hashID
0,14,3,1,2,3,3,2,0,0,0,...,1,1,1,0,1,1,1,1,0,298c959c0cc8ffe9759bdf35d4976c81
1,10,1,3,0,1,3,2,0,1,1,...,1,1,1,1,1,1,1,1,0,99943d08758c420384f8254bcd3535b7
2,4,2,0,1,99,0,1,1,0,1,...,1,1,0,0,0,0,0,0,0,72550e33c9d772bd5ece065f3f525c6b
3,14,3,3,2,3,1,2,0,0,0,...,1,1,1,1,1,1,1,1,0,23ea96f6132eadc6451d4c622bd6cef2
4,7,3,0,0,2,0,2,0,0,0,...,0,0,0,1,1,0,0,0,0,df5965b42051ad38cb784331d91fff0d

In [4]:
cols=["TotalScore"]

In [5]:
codes.drop(cols, axis=1, inplace=True)

In [6]:
codes.head(5)

,S02,S03,S05,S06,S08,S10,S02_BottomLoudAmp,S02_incHigh,S02_incLoud,S02_incLow,...,S10_RCarrow,S10_RCsome,S10_REarrow,S10_RefChair,S10_Remits,S10_REsome,S10_RLarrow,S10_RLsome,S10_yellow,hashID
0,3,1,2,3,3,2,0,0,0,0,...,1,1,1,0,1,1,1,1,0,298c959c0cc8ffe9759bdf35d4976c81
1,1,3,0,1,3,2,0,1,1,1,...,1,1,1,1,1,1,1,1,0,99943d08758c420384f8254bcd3535b7
2,2,0,1,99,0,1,1,0,1,0,...,1,1,0,0,0,0,0,0,0,72550e33c9d772bd5ece065f3f525c6b
3,3,3,2,3,1,2,0,0,0,0,...,1,1,1,1,1,1,1,1,0,23ea96f6132eadc6451d4c622bd6cef2
4,3,0,0,2,0,2,0,0,0,0,...,0,0,0,1,1,0,0,0,0,df5965b42051ad38cb784331d91fff0d

In [7]:
c=codes.groupby(by="hashID")["S10_REarrow" and "S10_RCarrow"].count()

In [8]:
c.head(5)

hashID
002b2fd7b97f39226a5e56fc058cef9b    1
014d46a7cdc44ed8bdd1f4cbe380137f    1
01f66689628d7f989794130ea91f8579    1
01f7b0931d9995007e5cfabd1cad4ee8    1
022679978a83dae462d13cfada35706d    1
Name: S10_RCarrow, dtype: int64

In [9]:
len(c.index)

892

In [10]:
codes.shape[0]

892

In [11]:
np.count_nonzero(c)

892

In [24]:
seriesObj = codes.apply(lambda x: True if (x['S10_REarrow']==1 and x['S10_RCarrow']==1) and x['S10_RefChair']==1  else False, axis=1)

In [25]:
numOfRows = len(seriesObj[seriesObj == True].index)

In [26]:
print(numOfRows)

81